{{ $status := .Get 0 | default (.Page.Params.status) }}
{{ if eq $status "Active" }}
  <span class="status status-active">🟢 Active</span>
{{ else if eq $status "Draft" }}
  <span class="status status-draft">🟡 Draft</span>
{{ else if eq $status "Review" }}
  <span class="status status-review">🟠 Review</span>
{{ else if eq $status "Outdated" }}
  <span class="status status-outdated">🔴 Outdated</span>
{{ else if eq $status "Archived" }}
  <span class="status status-archived">⚫ Archived</span>
{{ end }}